@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
--color-primary: #9F86BF;
--color-danger: #F59779;
--color-success: #82C836;
--color-warning: #ffbb55;
--color-white: #fff;
--color-info-dark: #7d8da1;
--color-info-light: #dce1eb;
--color-pink: #F49AC0;
--color-blue: #0091FE;
--color-blue-light: rgba(0, 145, 254, 0.18);
--color-orange: #FFCF8D;
--color-orange-light: rgba(255, 207, 141, 0.18);
--color-green: #82C836;
--color-green-light: rgba(130, 200, 54, 0.18);
--color-dark: #2F3135;
--color-light: rgba(132, 139,200, 0.18);
--color-primary-variant: ##111e88;
--color-dark-variant: #677483;
--color-background: #f6f6f9;

--card-border-radius: 2rem;
--border-radius-1: 0.4rem;
--border-radius-2: 0.8rem;
--border-radius-3: 1.2rem;

--card-padding: 1.8rem;
--padding-1: 1.2rem;

--box-shadow: 0 2rem 3rem var(--color-light);
--box-shadow-green: 0 2rem 3rem var(--color-green-light);
--box-shadow-blue: 0 2rem 3rem var(--color-blue-light);
--box-shadow-orange: 0 2rem 3rem var(--color-orange-light);
}

/* ================= DARK THEME VARIABLES ================*/
.dark-theme-variables {
	--color-background: #181a1e;
	--color-white: #202528;
	--color-dark: #edeffd;
	--color-dark-variant: #a3bdcc;
	--color-light: #rgba(0, 0, 0, 0.4);
	--box-shadow: 0 2rem 3rem var(--color-light);
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: poppins, sans-serif;
	font-size: 0.88rem;
	background: var(--color-background);
	user-select: none;
	overflow-x: hidden;
	color: var(--color-dark);
}

.container {
	display: grid;
	width: 96%;
	margin: 0 auto;
	gap: 1.8rem;
	grid-template-columns: 20% auto;
}

.container > div:not(:first-child){
	display: grid;
	width: 100%;
	margin: 0 auto;
	gap: 1.8rem;
	grid-template-columns: auto 25%;
}

.container > div:not(:nth-child(2)){
	display: none;
}

a {
	color: var(--color-dark);
}

button {
	color: var(--color-dark);
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 0.87rem;
}

h4 {
	font-size: 0.8rem;
}

h5 {
	font-size: 0.77rem;
}

small {
	font-size: 0.75rem;
}

.text-muted {
	color: var(--color-info-dark);
}

p {
	color: var(--color-dark-variant);
}

b {
	color: var(--color-dark);
}

.primary {
	color: var(--color-dark);
}
.danger {
	color: var(--color-danger);
}
.success {
	color: var(--color-success);
}
.warning {
	color: var(--color-warning);
}

aside {
	height: 100vh;
}

aside .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.4rem;
}

aside .logo {
	display: flex;
	gap: 0.8rem;
}


aside .logo img {
	width: 13rem;
}

aside .close {
	display: none;
}

/* ================= SIDEBAR ================*/

aside .sidebar {
	display: flex;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 3rem;
}

aside h3 {
	font-weight: 500;
}

aside .sidebar button {
	display: flex;
	background-color: var(--color-background);
	color: var(--color-info-dark);
	margin-left: 2rem;
	gap: 1rem;
	align-items: center;
	position: relative;
	height: 3.7rem;
	transition: all 300ms ease;
}

aside .sidebar button i {
	transition: all 300ms ease;
}

aside .sidebar button:last-child {
	position: absolute;
	bottom: 2rem;
}

aside .sidebar button.active{
	background: var(--color-light);
	color: var(--color-primary);
	margin-left: 0;
}

aside .sidebar button.active:before{
	content: '';
	width: 6px;
	height: 100%;
	background: var(--color-primary);
}


aside .sidebar button.active i{
	color: var(--color-primary);
	margin-left: calc(1rem - 3px);
}

aside .sidebar button:hover {
	color: var(--color-primary);
}

aside .sidebar button:hover i {
	margin-left: 1rem;
}

/* ================= MAIN ================*/


/* ================= DASHBOARD ================*/

main {
	margin-top: 1.4rem;
}

main .date {
	display: inline-block;
	background: var(--color-light);
	border-radius: var(--border-radius-1);
	margin-top: 1rem;
	padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
	background: transparent;
	color: var(--color-dark);
}

main .insights {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

main .insights > div {
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	margin-top: 1rem;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

main .insights > div:hover {
	box-shadow: none;
}

main .insights > div i {
	background: var(--color-primary);
	padding: 0.5rem;
	border-radius: 50%;
	color: var(--color-white);
	font-size: 2rem;
}

main .insights > div.expenses i {
	background-color: var(--color-danger);
}

main .insights > div.income i {
	background-color: var(--color-success);
}

main .insights > div.middle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main .insights h3 {
	margin: 1rem 0 0.6rem;
	font-size: 1rem;
}

main .insights .progress {
	position: relative;
	text-align: center;
	width: 92px;
	height: 92px;
	border-radius: 50%;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:0;
  --b:10px;
  --c:var(--color-primary);
  --w:75px;

  width:var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
	margin-left: 50%;
  place-content: center;
	font-weight: 700;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation: p 1s .5s both;
}
.no-round:before {
  background-size: 0 0,auto;
}
.no-round:after {
  content: none;
}

@keyframes p {
  from{--p:0}
}

main .recent-orders {
	margin-top: 2rem;
}

main .recent-orders {
	margin-bottom: 0.8rem;
}

main .recent-orders table {
	margin-top: 1rem;
	background: var(--color-white);
	width: 100%;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	text-align: center;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

main .recent-orders table:hover {
	box-shadow: none;
}

main table tbody td {
	height: 2.8rem;
	border-bottom: 1px solid var(--color-light);
	color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
	border: none;
}

main .recent-orders a {
	text-align: center;
	display: block;
	margin: 1rem auto;
	color: var(--color-primary);
}

/* ================= ORDERS ================*/

.orders {
	display: none;
}

/* ================= MEMBERSHIPS ================*/

main .memberships {
	margin-right: 3%;
	height: 50%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.6rem;
}

main .memberships > button {
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	margin-top: 1rem;
	transition: all 300ms ease;
	text-align: center;
	cursor: pointer;
}

main .memberships > :first-child {
	box-shadow: var(--box-shadow);
	border: solid;
	border-width: 5px;
	border-color: var(--color-light);
}

main .memberships > :nth-child(2) {
	box-shadow: var(--box-shadow-orange);
	border: solid;
	border-width: 5px;
	border-color: var(--color-orange-light);
}

main .memberships > :nth-child(3) {
	box-shadow: var(--box-shadow-green);
	border: solid;
	border-width: 5px;
	border-color: var(--color-green-light);
}

main .memberships > :nth-child(4) {
	box-shadow: var(--box-shadow-blue);
	border: solid;
	border-width: 5px;
	border-color: var(--color-blue-light);
}

main .memberships > button:hover {
	box-shadow: none;
}

main .memberships > div:hover {
	box-shadow: none;
}

/* ================ PUBLIC NOTICE BOARD ================*/

main .notice-form {
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	background: var(--color-white);
	width: 100%;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	text-align: center;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

main .notice-form .notice-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	column-gap: 1rem;
	row-gap: 1rem;
	margin-bottom: 1rem;
}

main .notice-form .notice-details #notice-name {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	font-family: poppins, sans-serif;
	color: var(--color-dark);
	background: var(--color-light);
	padding: 0.5rem 1rem 0.5rem 1rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
	font-size: 0.88rem;

}

main .notice-form .notice-details .file-upload {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	margin-top: 2%;
}

main .notice-form .notice-details #notice-region {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

main .notice-form .notice-details #notice-category {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

main .notice-form .notice-details #expiry-date {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 3;
	margin-top: 0;
	font-family: poppins, sans-serif;
	color: var(--color-dark);
	font-size: 0.88rem;
}

main .notice-form .notice-details #expiry-date #expiry-text {
	margin-right: 1rem;
}

main .notice-form .notice-details .input-field {
	background: transparent;
	width: 100%;
	font-family: poppins, sans-serif;
	color: var(--color-dark);
	font-size: 0.88rem;
}

main .notice-form:hover {
}

main .notice-form .file-upload {
	justify-self: center;
}

main .notice-form .file-upload label {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
  margin-top: 1rem;
}

main .notice-form > input {
	font-family: poppins, sans-serif;
	color: var(--color-white);
	background: var(--color-dark);
	padding: 0.5rem 1rem 0.5rem 1rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
	font-size: 0.88rem;
}

main .notice-form:hover {
	box-shadow: none;
}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
	background: var(--color-light);
	border-radius: var(--border-radius-1);
}

.select-dropdown:not(:first-child) {
	margin-top: 1rem;
}

.select-dropdown select {
	font-family: poppins, sans-serif;
	color: var(--color-dark);
	background: var(--color-light);
	padding: 0.5rem 1rem 0.5rem 1rem;
	cursor: pointer;
	width: 100%;
	font-size: 0.88rem;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

#province-div,
#state-div {
	display: none;
}


/* ================ FORMS ================*/

/* Style the recent documents */
main .recent-docs {
	margin-top: 2rem;
}

main .recent-docs {
	margin-bottom: 0.8rem;
}

main .tabcontent {
	margin-bottom: 2rem;
}

main .recent-docs table {
	margin-top: 1rem;
	background: var(--color-white);
	width: 100%;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	text-align: center;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

main .recent-docs table:hover {
	box-shadow: none;
}

main .recent-docs a {
	text-align: center;
	display: block;
	margin: 1rem auto;
	color: var(--color-primary);
}

 /* Style the tab */
main .tabs {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;
	height: 3rem;
  overflow: hidden;
  border-radius: var(--border-radius-1);
  background: var(--color-light);;
}

/* Style the buttons that are used to open the tab content */
main .tabs button {
	width: 100%;
	height: 3rem;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
main .tabs button:hover {
  background-color: var(--color-white);
}

/* Create an active/current tablink class */
main .tabs button.active {
  background-color: var(--color-white);
}

/* Style the tab content */
main .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

main .form-selection {
	margin-top: 1rem;
	display: flex;
	justify-content: space-evenly;
}

main .form-selection label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
main .form-selection label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: var(--border-radius-1);
  background-color: var(--color-white);
}

/* On mouse-over, add a grey background color */
main .form-selection label:hover input ~ .checkmark {
  background-color: var(--color-light);
}

/* When the checkbox is checked, add a blue background */
main .form-selection label input:checked ~ .checkmark {
  background-color: var(--color-blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
main .form-selection label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
main .form-selection label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--color-white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tabcontent .form {
	display: none;
}

/* ================= MAIN ================*/

.right {
	margin-top: 1.4rem;
}

.right .top {
	display: flex;
	justify-content: end;
	gap: 2rem;
}

.right .top button {
	display: none;
}

.right img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.right .theme-toggler {
	background: var(--color-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.6rem;
	width: 4.2rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
}

.right .theme-toggler i {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right .theme-toggler .active {
	background: var(--color-primary);
	color: white;
	border-radius: var(--border-radius-1);
}

.right .top .profile {
	display: flex;
	gap: 2rem;
	text-align: right;
}

.right .top .profile .info p {
	white-space: nowrap;
}

/* ================= MAIN ================*/

.right .recent-updates {
	margin-top: 1rem;
}

.right .recent-updates h2 {
	margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
	box-shadow: none;
}

.right .recent-updates .updates .update {
	display: grid;
	grid-template-columns: 2.6rem auto;
	gap: 1rem;
	margin-bottom: 1rem;
}

.updates > i {
	color: var(--color-warning);
	margin-bottom: 5%;
}

.container-graph {
	margin-left: 50%;
	width: 50%;
  height: 90%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.graph {
	font-weight: 700;
	position: absolute;
	bottom: 10%;
	width: 50%;
	height: 0%;
	background-color: var(--color-danger);
}

.container-graph .notice-graph {
	background-color: var(--color-success);
}

/* ================= MAIN ================*/

.right .sales-analytics {
	margin-top: 2rem;
}

.right .sales-analytics h2 {
	margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
	background: var(--color-white);
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.7rem;
	padding: 1.4rem var(--card-padding);
	border-radius: var(--border-radius-3);
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
	box-shadow: none;
}

.right .sales-analytics .item .right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: 100%;
}

.right .sales-analytics .item .right .discount-container {
	display: flex;
	flex-direction: column;
}

.right .sales-analytics .item .icon {
	height: 40px;
	width: 40px;
	padding: 1.0rem;
	color: var(--color-white);
	border-radius: 50%;
	background: var(--color-primary);
	align-content: center;
	justify-content: center;
	display: flex;
}

.right .sales-analytics .offline .icon {
	background-color: var(--color-danger);
}

.right .sales-analytics .customers .icon {
	background-color: var(--color-success);
}

.right .sales-analytics .add-product {
	background-color: transparent;
	border: 2px dashed var(--color-primary);
	color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

.right .sales-analytics .add-product div {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.right .sales-analytics .add-product div h3 {
	font-weight: 600;
}

/* ================= MEDIA QUERIES TABLET ================*/

@media screen and (max-width: 1200px) {
	.container {
		width: 94%;
		grid-template-columns: 10rem auto 15rem;
	}

 	aside .sidebar button {
		width: 5.6rem;
	}

	aside .sidebar button:last-child {
		position: relative;
		margin-top: 1.8rem;
	}

	main .insights {
		grid-template-columns: 1fr;
		gap: 0;
	}

	main .recent-orders {
		width: 94%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin: 2rem 0 0 8.8;
	}

	main .recent-orders table {
		width: 83vw;
	}

	main table thead tr th:last-child {
		display: none;
	}
 	main table thead tr th:first-child {
		display: none;
	}

	main table tbody tr th:last-child {
		display: none;
	}
 	main table tbody tr th:first-child {
		display: none;
	}

}

/* ================= MEDIA QUERIES MOBILE ================*/

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
	}

	aside {
		position: fixed;
		left: -100%;
		background: var(--color-white);
		width: 18rem;
		z-index: 3;
		box-shadow: 1rem 3rem 4rem var(--color-light);
		height: 100vh;
		padding-right: var(--card-padding);
		display: none;
		animation: showMenu 400ms ease forwards;
	}

	@keyframes showMenu {
		to{
			left: 0;
		}

	}

	aside .logo {
		margin-left: 1rem;
	}

	aside .logo h2 {
		display: inline;
	}

	aside .logo h3 {
		display: inline;
	}

	aside .logo a {
		width: 100%;
		height: 3.4rem;
	}

	aside .sidebar a:last-child {
		position: absolute;
		bottom: 5rem;
	}

	aside .close {
		display: inline-block;
		cursor: pointer;
	}

	main {
		margin-top: 8rem;
		padding: 0 1rem;
	}

	main .recent-orders {
		position: relative;
		margin: 3rem 0 0 0;
	}

	main .recent-orders table {
		width: 100%;
		margin: 0;
	}

	.right {
		width: 94%;
		margin: 0 auto 4rem;
	}

	.right .top {
		position: absolute;
		top: 0;
		left: 0;
		align-items: center;
		padding: 0 0.8rem;
		height: 4.6rem;
		background: var(--color-white);
		width: 100%;
		margin: 0;
		z-index: 2;
		box-shadow: 0 1rem 1rem var(--color-light);
	}

	.right .top .theme-toggler {
		width: 4.4rem;
		position: absolute;
		left: 66%;
	}

	.right .profile .info {
		display: none;
	}

	.right .top button {
		display: inline-block;
		position: absolute;
		background: transparent;
		cursor: pointer;
		color: var(--color-dark);
		left: 1rem;
	}



}
