@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
--color-pink: #F49AC0;
--color-pink-light: rgba(244, 154, 192, 0.1);
--color-blue: #0091FE;
--color-blue-light: rgba(0, 145, 254, 0.1);
--color-orange: #FFCF8D;
--color-orange-light: rgba(255, 207, 141, 0.2);
--color-yellow-light: rgba(255, 165, 0, 0.2);
--color-green: #82C836;
--color-green-light: rgba(130, 200, 54, 0.2);
--color-black-light: rgba(0, 0, 0, 0.4);
--color-white: #fff;
--color-info-dark: #9F86BF;
--color-info-light: #dce1eb;
--color-dark: #2F3135;
--color-light: rgba(132, 139,200, 0.18);
--color-background: #f6f6f9;

--card-border-radius: 2rem;
--button-border-radius: 30px;

--card-padding: 1.8rem;
--padding-1: 1.2rem;

--box-shadow: 0 2rem 3rem var(--color-light);
}

/* ================= DARK THEME VARIABLES ================*/
.dark-theme-variables {
	--color-background: #181a1e;
	--color-white: #202528;
	--color-dark: #edeffd;
	--color-dark-variant: #a3bdcc;
	--color-light: rgba(0, 0, 0, 0.4);
	--box-shadow: 0 2rem 3rem var(--color-light);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: poppins, sans-serif;
	background-color: var(--color-background);
}

.header {
	height: 120vh;
}

.main {
  height: 100vh;
  width: 100vw;
  position: relative;
}



.d2 {
  position: absolute;
	background-image: linear-gradient(var(--color-black-light), var(--color-black-light)), url(../images/chess.jpg);
  background-size: 1400px 650px;
  height: 60vh;
  width: 25vw;
  background-position: 0vw 50%;
  left: 5vw;
  top: 75%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd2 10s 5;
  animation-delay: 4s;
}
.d3 {
  position: absolute;
	background-image: linear-gradient(var(--color-black-light), var(--color-black-light)), url(../images/chess.jpg);
  background-size: 1400px 650px;
  overflow: hidden;
  height: 85vh;
  width: 35vw;
  left: 25vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  background-position: -25vw 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: dd3 10s 5;
  animation-delay: 4s;
}
.d4 {
  position: absolute;
  overflow: hidden;
	background-image: linear-gradient(var(--color-black-light), var(--color-black-light)), url(../images/chess.jpg);
  background-size: 1400px 650px;
  height: 80vh;
  width: 25vw;
  left: 60vw;
  background-position: -60vw 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd4 10s 5;
  animation-delay: 4s;
}
@keyframes dd1 {
  50% {
    width: 95vw;
  }
}
@keyframes dd12 {
  50% {
    background-position: Calc(0vw) 50%;
  }
}
@keyframes dd2 {
  50% {
    background-position: Calc(-10vw) 50%;
  }
}
@keyframes dd3 {
  50% {
    background-position: Calc(-35vw) 50%;
  }
}
@keyframes dd4 {
  50% {
    background-position: Calc(-70vw) 50%;
  }
}

.rectangle {
	position: relative;
	width: 100%;
}


#cream-rectangle-1 {
	text-align: center;
	height: 600px;
	background-color: var(--color-orange);
}

#cream-rectangle-1 video {
	justify-content: center;
	width: 100%;
}

.title-container {
	width: 100%;
}

.title-child-container {
	text-align: center;
	width: 80%;
	font-weight: 700;
	font-size: 1.5em;
	background-color: var(--color-dark);
	color: var(--color-background);
	margin-bottom: 5%;
	padding-top: 60px;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;

}

.title-container .title {
	text-align: left;
	padding-bottom: 30px;
  border-bottom: 1px solid var(--color-orange);
  }

.about-container {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
}

.item {
	height: auto;
	width: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	border-radius: 15px;
}

.about-container #script-item {
	margin-left: 20%;
}

.about-container #blurb-item {
	margin-right: 20%;

}

.about-container video {
	height: 100%;
	width: 100%;
}

.about-container p {
	position: relative;
	top: 50%;
	margin-right: 5%;
	margin-left: 5%;
	transform: translateY(-50%);
	color: var(--color-dark);
}

#learn-more {
	margin-bottom: 4%;
}

.cream-rectangle {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
	height: 200px;
	background-color: var(--color-orange);
	color: var(--color-dark);
}

#earthly-estate {
	width: 100%;
	font-weight: 400;
	font-size: 1em;
	margin-top: 5%;
	margin-left: 30%;
}

#earthly-estate span {
	font-weight: 700;
	font-size: 1.4em;
}

#cream-rectangle-2 i {
	margin-left: 20%
}

#quote-right {
	position: relative;
	width: 100%;
	height: 100%;
}

#quote-right p {
	position: absolute;
	font-weight: 400;
	font-size: 1em;
	white-space: wrap;
	bottom: 0;
	vertical-align: bottom;
	width: 80%;
	margin-bottom: 5%;
}

.button-wrapper {
	width: 235px;
	border: solid;
	border-radius: 50px;
	border-width: 2px;
	border-color: var(--color-orange);
	margin-left: 10%;

}

form.search input[type=text] {
	text-align: left;
	margin-left: 10%;
	width: 150px;
	height: 40px;
	font-size: 15px;
	background-color: var(--color-background);
	color: var(--color-dark);
	border: none;
	outline: none;
}

form.search button {
	width: 20px;
	border: none;
}

form.search i {
	background-color: var(--color-background);
	color: var(--color-dark);
}

.parent-container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	margin-top: 3%;
}

.action-container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 94%;
	height: 100%;
}

.course-container {
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	margin-top: 1%;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
	text-align: center;
	width: 24%;
	height: 109%;
	padding-top: 6%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 1%;
	margin: 1%;
	cursor: pointer;
}



.course-container i {
	padding-bottom: 5%;
}

.action-container > div:hover {
	margin: 0;
	width: 26%;
	height: 100%;
	box-shadow: none;
}

.chevron-container {
	text-align: center;
	width: 3%;
	height: auto;
}

.chevron-container button {
	border: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--color-dark);
	color: var(--color-background);
	position: relative;
  top: 50%;
	cursor: pointer;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.course-container h3{
	font-weight: 700;
	font-size: 1.5em;
	color: #222222;
	padding: 10px;
}

.course-container p {
	text-align: center;
	width: 100%;
	height: auto;
	font-weight: 400;
	font-size: 0.5em;
	color: var(--color-dark);
	padding-top: 15px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

#button-left-container button {
  left: 50%;
}

#courses-left-container img {
	margin-left: 10%;
}

#courses-middle-container img {
}

#courses-right-container img {
	margin-right: 5%;
}

.button-container {
	text-align: center;
	height: auto;
	margin-top: 5%;
}

.action-button {
	position: center;
	white-space: nowrap;
	width: 175px;
	height: 45px;
	border: solid;
	background: var(--color-background);
	border-radius: var(--button-border-radius);
	color: var(--color-info-dark);
	border-color: var(--color-info-dark);
	border-width: 2px;
	text-align: center;
	cursor: pointer;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.action-button:hover {
	background: var(--color-info-dark);
	color: var(--color-background);
	border-color: var(--color-background);
}

a .action-button {
	font-weight: 700;
	text-decoration: none;
}

.action-button i {
	margin-right: 10px;
}

#cream-rectangle-3 {
	margin-top: 5%;
	grid-template-columns: 25% 75%;
}

#cream-rectangle-3 i {
	margin-left: 40%;
	margin-top: 100px;
	transform: translate(0, -50%);
}

#cream-rectangle-3 p {
	width: 87.5%;
	margin-top: 100px;
	transform: translate(0, -50%);
	font-size: 1.5em;
	font-weight: 400;
}

#cream-rectangle-3 p span {
	font-weight: 700;
}

#membership-blurb {
	margin-left: 10%;
	margin-right: 10%;
}

#membership-blurb p {
	color: var(--color-dark);
	padding-left: 5%;
	padding-right: 5%;
}

.member-container {
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	margin-top: 1rem;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
	text-align: center;
	width: 22%;
	height: 300px;
	border: solid;
	border-width: 8px;
	cursor: pointer;
}

.particle {
	 position: absolute;
	 border-radius: 50%;
}
 @keyframes particle-animation-1 {
	 100% {
		 transform: translate3d(26vw, 70vh, 81px);
	}
}
 .particle:nth-child(1) {
	 animation: particle-animation-1 60s infinite;
	 opacity: 0.98;
	 height: 10px;
	 width: 10px;
	 animation-delay: -0.2s;
	 transform: translate3d(31vw, 16vh, 28px);
	 background: #d9be26;
}
 @keyframes particle-animation-2 {
	 100% {
		 transform: translate3d(40vw, 51vh, 26px);
	}
}
 .particle:nth-child(2) {
	 animation: particle-animation-2 60s infinite;
	 opacity: 0.07;
	 height: 7px;
	 width: 7px;
	 animation-delay: -0.4s;
	 transform: translate3d(45vw, 49vh, 57px);
	 background: #d926ca;
}
 @keyframes particle-animation-3 {
	 100% {
		 transform: translate3d(40vw, 7vh, 50px);
	}
}
 .particle:nth-child(3) {
	 animation: particle-animation-3 60s infinite;
	 opacity: 0.46;
	 height: 10px;
	 width: 10px;
	 animation-delay: -0.6s;
	 transform: translate3d(13vw, 85vh, 80px);
	 background: #a9d926;
}
 @keyframes particle-animation-4 {
	 100% {
		 transform: translate3d(44vw, 50vh, 13px);
	}
}
 .particle:nth-child(4) {
	 animation: particle-animation-4 60s infinite;
	 opacity: 0.69;
	 height: 6px;
	 width: 6px;
	 animation-delay: -0.8s;
	 transform: translate3d(60vw, 88vh, 41px);
	 background: #26bed9;
}
 @keyframes particle-animation-5 {
	 100% {
		 transform: translate3d(46vw, 39vh, 92px);
	}
}
 .particle:nth-child(5) {
	 animation: particle-animation-5 60s infinite;
	 opacity: 0.48;
	 height: 6px;
	 width: 6px;
	 animation-delay: -1s;
	 transform: translate3d(42vw, 37vh, 32px);
	 background: #50d926;
}
 @keyframes particle-animation-6 {
	 100% {
		 transform: translate3d(17vw, 8vh, 92px);
	}
}
 .particle:nth-child(6) {
	 animation: particle-animation-6 60s infinite;
	 opacity: 0.66;
	 height: 6px;
	 width: 6px;
	 animation-delay: -1.2s;
	 transform: translate3d(30vw, 18vh, 17px);
	 background: #a3d926;
}
 @keyframes particle-animation-7 {
	 100% {
		 transform: translate3d(73vw, 15vh, 60px);
	}
}
 .particle:nth-child(7) {
	 animation: particle-animation-7 60s infinite;
	 opacity: 0.61;
	 height: 6px;
	 width: 6px;
	 animation-delay: -1.4s;
	 transform: translate3d(9vw, 60vh, 41px);
	 background: #d98026;
}
 @keyframes particle-animation-8 {
	 100% {
		 transform: translate3d(49vw, 18vh, 11px);
	}
}
 .particle:nth-child(8) {
	 animation: particle-animation-8 60s infinite;
	 opacity: 0.32;
	 height: 10px;
	 width: 10px;
	 animation-delay: -1.6s;
	 transform: translate3d(27vw, 35vh, 82px);
	 background: #269ad9;
}
 @keyframes particle-animation-9 {
	 100% {
		 transform: translate3d(77vw, 6vh, 24px);
	}
}
 .particle:nth-child(9) {
	 animation: particle-animation-9 60s infinite;
	 opacity: 1;
	 height: 7px;
	 width: 7px;
	 animation-delay: -1.8s;
	 transform: translate3d(8vw, 20vh, 31px);
	 background: #26c1d9;
}
 @keyframes particle-animation-10 {
	 100% {
		 transform: translate3d(55vw, 87vh, 64px);
	}
}
 .particle:nth-child(10) {
	 animation: particle-animation-10 60s infinite;
	 opacity: 0.73;
	 height: 6px;
	 width: 6px;
	 animation-delay: -2s;
	 transform: translate3d(15vw, 73vh, 11px);
	 background: #267dd9;
}
 @keyframes particle-animation-11 {
	 100% {
		 transform: translate3d(13vw, 24vh, 31px);
	}
}
 .particle:nth-child(11) {
	 animation: particle-animation-11 60s infinite;
	 opacity: 0.05;
	 height: 8px;
	 width: 8px;
	 animation-delay: -2.2s;
	 transform: translate3d(2vw, 62vh, 68px);
	 background: #d92674;
}
 @keyframes particle-animation-12 {
	 100% {
		 transform: translate3d(20vw, 83vh, 47px);
	}
}
 .particle:nth-child(12) {
	 animation: particle-animation-12 60s infinite;
	 opacity: 0.66;
	 height: 8px;
	 width: 8px;
	 animation-delay: -2.4s;
	 transform: translate3d(1vw, 63vh, 2px);
	 background: #7dd926;
}
 @keyframes particle-animation-13 {
	 100% {
		 transform: translate3d(48vw, 52vh, 89px);
	}
}
 .particle:nth-child(13) {
	 animation: particle-animation-13 60s infinite;
	 opacity: 0.11;
	 height: 9px;
	 width: 9px;
	 animation-delay: -2.6s;
	 transform: translate3d(7vw, 43vh, 47px);
	 background: #94d926;
}
 @keyframes particle-animation-14 {
	 100% {
		 transform: translate3d(77vw, 29vh, 46px);
	}
}
 .particle:nth-child(14) {
	 animation: particle-animation-14 60s infinite;
	 opacity: 0.78;
	 height: 7px;
	 width: 7px;
	 animation-delay: -2.8s;
	 transform: translate3d(86vw, 71vh, 64px);
	 background: #d9bb26;
}
 @keyframes particle-animation-15 {
	 100% {
		 transform: translate3d(59vw, 21vh, 58px);
	}
}
 .particle:nth-child(15) {
	 animation: particle-animation-15 60s infinite;
	 opacity: 0.95;
	 height: 8px;
	 width: 8px;
	 animation-delay: -3s;
	 transform: translate3d(58vw, 37vh, 10px);
	 background: #d926b8;
}
 @keyframes particle-animation-16 {
	 100% {
		 transform: translate3d(27vw, 6vh, 88px);
	}
}
 .particle:nth-child(16) {
	 animation: particle-animation-16 60s infinite;
	 opacity: 0.66;
	 height: 10px;
	 width: 10px;
	 animation-delay: -3.2s;
	 transform: translate3d(54vw, 5vh, 34px);
	 background: #26d991;
}
 @keyframes particle-animation-17 {
	 100% {
		 transform: translate3d(72vw, 15vh, 60px);
	}
}
 .particle:nth-child(17) {
	 animation: particle-animation-17 60s infinite;
	 opacity: 0.91;
	 height: 9px;
	 width: 9px;
	 animation-delay: -3.4s;
	 transform: translate3d(61vw, 76vh, 64px);
	 background: #d9b826;
}
 @keyframes particle-animation-18 {
	 100% {
		 transform: translate3d(6vw, 53vh, 89px);
	}
}
 .particle:nth-child(18) {
	 animation: particle-animation-18 60s infinite;
	 opacity: 0.91;
	 height: 10px;
	 width: 10px;
	 animation-delay: -3.6s;
	 transform: translate3d(87vw, 15vh, 53px);
	 background: #9ad926;
}
 @keyframes particle-animation-19 {
	 100% {
		 transform: translate3d(84vw, 29vh, 42px);
	}
}
 .particle:nth-child(19) {
	 animation: particle-animation-19 60s infinite;
	 opacity: 0.89;
	 height: 7px;
	 width: 7px;
	 animation-delay: -3.8s;
	 transform: translate3d(17vw, 71vh, 53px);
	 background: #26d98e;
}
 @keyframes particle-animation-20 {
	 100% {
		 transform: translate3d(90vw, 5vh, 62px);
	}
}
 .particle:nth-child(20) {
	 animation: particle-animation-20 60s infinite;
	 opacity: 0.7;
	 height: 8px;
	 width: 8px;
	 animation-delay: -4s;
	 transform: translate3d(80vw, 29vh, 8px);
	 background: #d926c1;
}
 @keyframes particle-animation-21 {
	 100% {
		 transform: translate3d(48vw, 71vh, 53px);
	}
}
 .particle:nth-child(21) {
	 animation: particle-animation-21 60s infinite;
	 opacity: 0.93;
	 height: 10px;
	 width: 10px;
	 animation-delay: -4.2s;
	 transform: translate3d(55vw, 26vh, 53px);
	 background: #26bed9;
}
 @keyframes particle-animation-22 {
	 100% {
		 transform: translate3d(46vw, 5vh, 27px);
	}
}
 .particle:nth-child(22) {
	 animation: particle-animation-22 60s infinite;
	 opacity: 0.16;
	 height: 8px;
	 width: 8px;
	 animation-delay: -4.4s;
	 transform: translate3d(21vw, 5vh, 84px);
	 background: #d926c7;
}
 @keyframes particle-animation-23 {
	 100% {
		 transform: translate3d(85vw, 19vh, 72px);
	}
}
 .particle:nth-child(23) {
	 animation: particle-animation-23 60s infinite;
	 opacity: 0.49;
	 height: 10px;
	 width: 10px;
	 animation-delay: -4.6s;
	 transform: translate3d(69vw, 56vh, 69px);
	 background: #d9c126;
}
 @keyframes particle-animation-24 {
	 100% {
		 transform: translate3d(89vw, 32vh, 29px);
	}
}
 .particle:nth-child(24) {
	 animation: particle-animation-24 60s infinite;
	 opacity: 0.97;
	 height: 9px;
	 width: 9px;
	 animation-delay: -4.8s;
	 transform: translate3d(26vw, 90vh, 85px);
	 background: #d95c26;
}
 @keyframes particle-animation-25 {
	 100% {
		 transform: translate3d(1vw, 11vh, 76px);
	}
}
 .particle:nth-child(25) {
	 animation: particle-animation-25 60s infinite;
	 opacity: 0.31;
	 height: 10px;
	 width: 10px;
	 animation-delay: -5s;
	 transform: translate3d(25vw, 20vh, 59px);
	 background: #d626d9;
}
 @keyframes particle-animation-26 {
	 100% {
		 transform: translate3d(89vw, 22vh, 83px);
	}
}
 .particle:nth-child(26) {
	 animation: particle-animation-26 60s infinite;
	 opacity: 0.04;
	 height: 7px;
	 width: 7px;
	 animation-delay: -5.2s;
	 transform: translate3d(67vw, 42vh, 91px);
	 background: #d926a9;
}
 @keyframes particle-animation-27 {
	 100% {
		 transform: translate3d(84vw, 49vh, 21px);
	}
}
 .particle:nth-child(27) {
	 animation: particle-animation-27 60s infinite;
	 opacity: 0.36;
	 height: 7px;
	 width: 7px;
	 animation-delay: -5.4s;
	 transform: translate3d(27vw, 75vh, 37px);
	 background: #2650d9;
}
 @keyframes particle-animation-28 {
	 100% {
		 transform: translate3d(81vw, 59vh, 16px);
	}
}
 .particle:nth-child(28) {
	 animation: particle-animation-28 60s infinite;
	 opacity: 0.73;
	 height: 9px;
	 width: 9px;
	 animation-delay: -5.6s;
	 transform: translate3d(23vw, 40vh, 21px);
	 background: #d95626;
}
 @keyframes particle-animation-29 {
	 100% {
		 transform: translate3d(11vw, 20vh, 45px);
	}
}
 .particle:nth-child(29) {
	 animation: particle-animation-29 60s infinite;
	 opacity: 0.03;
	 height: 10px;
	 width: 10px;
	 animation-delay: -5.8s;
	 transform: translate3d(57vw, 61vh, 66px);
	 background: #be26d9;
}
 @keyframes particle-animation-30 {
	 100% {
		 transform: translate3d(11vw, 29vh, 95px);
	}
}
 .particle:nth-child(30) {
	 animation: particle-animation-30 60s infinite;
	 opacity: 0.85;
	 height: 10px;
	 width: 10px;
	 animation-delay: -6s;
	 transform: translate3d(67vw, 67vh, 41px);
	 background: #26d944;
}


.parent-container > div:hover{
	box-shadow: none;
}

#member-left-container {
	border-color: var(--color-orange);
}

#member-middle-container {
	border-color: var(--color-green);
	margin-left: 5%;
	margin-right: 5%;
}

#member-right-container {
	border-color: var(--color-blue);
}

.member-container h3 {
	color: var(--color-dark);
	font-size: 15px;
	padding-top: 10px;
}

.member-container h2 {
	color: var(--color-dark);
	font-size: 45px;
	padding-top: 25px;
}

.member-container h2 span {
	font-size: 25px;
}

.member-container p {
	color: var(--color-dark);
	font-size: 11px;
	padding-top: 25px;
	margin-right: 10px;
	margin-left: 10px;
}

.member-container button {
	margin-top: 25px;
}
